/*IMPORT DES POLICES */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F8E900;
  border-radius: 10px;
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #51B3A9;
}


/*PARAMETRES GENERAUX*/
progress{
  width: 102vw;
  height: 1vh;
  z-index: 10000;
  margin: 0;
  border-radius: none;
  background-color: #F8E900;
  position: fixed;
  top: 0;
}

progress::-webkit-progress-bar {
  background-color: #000505;
}
progress::-webkit-progress-value {
  background-color: #50B3A9;
}

*{
  cursor: url(../ressources/pointer.cur), default;
}

body{
  background-color: #000505;
  color: #F2F7F2;
  margin: 0;
  overflow-x: hidden;
  overflow-y:auto;
  font-family: 'Quicksand', sans-serif;
}

h2{
  font-size: 2vw;
  margin: 0;
}

h3{
  font-size: 1.2vw;
}

p{
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: justify;
  text-align-last: left;
  font-size: 1.2vw;
}

/*CENTRER LES ELEMENTS : */

.hor_center{
  text-align: center;
}

.center_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ver_center{
  vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tortue{
  -webkit-transform: rotate(140deg); /*Do an animation on click*/
  -webkit-transition: -webkit-transform 1s;
  max-width: 10vw;
  z-index: 0;
  position: absolute;
  -webkit-animation: moveX 10s linear 0s infinite alternate, moveY 6s linear 0s infinite alternate, rotate 11s linear 0s infinite alternate;
  -moz-animation: moveX 10s linear 0s infinite alternate, moveY 6s linear 0s infinite alternate, rotate 11s linear 0s infinite alternate;
  -o-animation: moveX 10s linear 0s infinite alternate, moveY 6s linear 0s infinite alternate, rotate 11s linear 0s infinite alternate;
  animation: moveX 10s linear 0s infinite alternate, moveY 6s linear 0s infinite alternate, rotate 11s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 90vw; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 90vw; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 90vw; }
}
@keyframes moveX {
  from { left: 0; } to { left: 90vw; }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: 85vh; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 85vh; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 85vh; }
}
@keyframes moveY {
  from { top: 0; } to { top: 85vh; }
}

/* @-webkit-keyframes rotate {
  from { transform: rotate(0deg); } to { transform: rotate(45deg); }
}
@-moz-keyframes rotate {
  from { transform: rotate(0deg); } to { transform: rotate(45deg); }
}
@-o-keyframes rotate {
  from { transform: rotate(0deg); } to { transform: rotate(45deg); }
}
@keyframes rotate {
  from { transform: rotate(0deg); } to { transform: rotate(45deg); }
} */

/* PARAMETRES title_screen */

.title_screen{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000505;
}

.title_screen > div{
  display: table-cell;
  width: 100vw;
  height: 50vw;
  text-align: center;
  vertical-align: middle;
}

.title_screen .title_img{
}

.title_screen p{
  margin: 0;
}

.title_screen .title_logo{
  max-width: 30vw;
  vertical-align: middle;
}

.title_img{
  z-index: 1;
}

.title_logo_petit{
  max-width: 8vw;
  position: fixed;
  left: 5px;
  top: 15px;
  opacity: 0;
}

.call_to_action{
  width: 40vw;
  height: 40vh;
  position: fixed;
  top: 30vh;
  left: 30vw;
  background-color: #F2F7F2;
  border-radius: 25px;
  color: #000505;
  display: none;
}

.para_action{
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
}

.call_to_action a{
  height: 5vh;
  border: solid #f8e900 2px;
  background: #000505;
  color: #F2F7F2;
  font-style: normal;
}

.call_to_action button{
  height: 5vh;
  border: none;
  background: #000505;
  color: #F2F7F2;
  font-style: normal;
}

.action{
  margin-top: 10vh;
  text-align: center;
}

.content{
  z-index: 2000;
}

.presentation{
  padding-top: 2vh;
}

.quisommesnous{
  padding-top: 10vh;
  padding-bottom: 2vh;
  background-color: #000505;
  color: #F2F7F2;
}

.profils{
  vertical-align:top;
  margin-left: 15vw;
  margin-top: 10vh;
}

.carte{
  background-color: #040F16;
  width: 27.5vw;
  display:inline-block;
  border-radius: 25px;
  border: solid #F8E900 3px;
  border-top: none;
  border-left: none;
}

.carte p{
  margin-left: 3vw;
  margin-right: 3vw;
}

.profil_pic{
  display: inline-block;
  vertical-align: top;
  max-width: 10vw;
  border-bottom-right-radius: 25px;
  border-right: solid #50B3A9 3px;
  border-bottom: solid #50B3A9 3px;
}

.nom{
  vertical-align: top;
  display: inline-block;
  top: 0;
  margin-left: 0.5vw;
}

.ethan{
  margin-left: 15vw;
}

.background{
  height: 100vh;
}

.background img{
  max-height: 100vh;
  display: inline-block;
}

.ocean{
  position: relative;
  top: -100.5vh;
  left: 5vw;
  opacity: 1;
}

.tortue_plage1{
  position: relative;
  top: 115vh;
  max-width: 10vw;
  z-index: 0;
  position: absolute;
  -webkit-animation: moveX2 10s linear 0s infinite;
  -moz-animation: moveX2 10s linear 0s infinite;
  -o-animation: moveX2 10s linear 0s infinite;
  animation: moveX2 10s linear 0s infinite;
}

.tortue_plage2{
  position: relative;
  top: 135vh;
  max-width: 10vw;
  z-index: 0;
  position: absolute;
  -webkit-animation: moveX2 8s linear 0s infinite;
  -moz-animation: moveX2 8s linear 0s infinite;
  -o-animation: moveX2 8s linear 0s infinite;
  animation: moveX2 8s linear 0s infinite;
}

.tortue_plage3{
  position: relative;
  top: 180vh;
  max-width: 10vw;
  z-index: 0;
  position: absolute;
  -webkit-animation: moveX2 14s linear 0s infinite;
  -moz-animation: moveX2 14s linear 0s infinite;
  -o-animation: moveX2 14s linear 0s infinite;
  animation: moveX2 14s linear 0s infinite;
}

@-webkit-keyframes moveX2 {
  0% {left: 2vw; transform: rotate(90deg);} 40% {left: 15vw; transform: rotate(90deg);} 50% { left: 15vw; transform: rotate(-90deg);} 90% {left: 2vw; transform: rotate(-90deg);} 100% { left: 2vw; transform: rotate(90deg);}
}
